.loginScreen {

}

.dialogSmall {
    height: 400px;
    width: 400px;
}

.dialog {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1em;
    border: 1px solid #727272;
    border-radius: 5px;
    background-color: #EBEEF0;
}

.dialogCentered {
    top: 50%;
    transform: translate(-50%, -50%);
}

.inputGroup {
    margin-bottom: 0.5em;
}

.formInput label {
    display: block;
    margin-bottom: .25em;
}

.formInput input[type="text"] {
    border-radius: 3px;
    background-color: #efefef;
    padding: 0.5em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #d2d2d2;
}

.formInput {
    margin-bottom: .5em;
}

.formButtons {
    padding: 0 1em;
    text-align: right;
    margin-top: 0.5em;
}

.dialog footer {
    position: absolute;
    bottom: 1em;
    right: 0;
    left: 0;
}

.button {
    display: inline-block;
    min-width: 5em;
    height: 35px;
    font-size: 11pt;
    border-radius: 3px;
    color: white;
    border: 1px solid #007bff;
    background-color: #007bff;
    line-height: 35px;
    cursor: pointer;
}

.button:hover {
    border-color: #0293ff;
    background-color: #0293ff;
}

.buttonGreen {
    border-color: #28a745;
    background-color: #28a745;
}

.buttonGreen:hover {
    border-color: #2ebf4f;
    background-color: #2EBF4F;
}

.buttonGray {
    color: black;
    border-color: #b7b7b7;
    background-color: #b7b7b7;
}

.buttonGray:hover {
    border-color: #d4d4d4;
    background-color: #d4d4d4;
}

.buttonIcon {
    min-width: 0;
    padding: 0 0.5em;
    font-size: 22px;
}

.buttonGray.buttonIcon {
    color: white;
}

.buttonLight {
    color: #7B8D99;
    border-color: #DFE3E6;
    background-color: #DFE3E6;
}

.buttonLight:hover {
    border-color: #C3CBD1;
    background-color: #C3CBD1;
    color: #5e6b74;
}

.error {
    background: #ff8e8e;
    padding: 0.5em;
    color: white;
    border-radius: 3px;
    margin-bottom: 0.5em;
}

.buttonFullWidth {
    box-sizing: border-box;
    width: 100%;
}

.topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #061f5c;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;

    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 0.5em;

    z-index: 999
}

.navCenter {
    margin: auto
}

.topNav button, .topNav a {
    margin-right: 0.25em;
}

.navRight button {
    margin-right: 0;
    margin-left: 0.25em;
}

.topNav a {
    color: white;
    text-decoration: none;
}

.navCenterLogo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.navCenterLogo img {
    height: 40px;
    margin-right: 0.25em;
}
.navLeft {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.navRight {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.dot {
    height: 35px;
    line-height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: black;
}

.topNav .dot {
    margin-left: 0.25em;
}

.well {
    display: inline-block;
    min-width: 5em;
    height: 35px;
    border-radius: 3px;
    color: white;
    border: 1px solid #b7b7b7;
    background-color: #b7b7b7;
    line-height: 35px;
    padding: 0 0.25em;
}

html, body, #mainApp, #root {
    height: 100%;
    box-sizing: border-box;
}

#root {
    padding-top: 50px;
}

.boardBg {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.boardScreen {
    position: relative;
    min-height: 100%;
    background: bottom center url("/images/open_field_optimized.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.boardHeader {
    background: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.boardTitle {
    font-size: 18pt;
    color: #222222;
    font-weight: bold;
}

.boardMembers {
    margin-left: 2em;
}

.boardInfo {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    flex:1;
    list-style-type: none;
}

.boardInfo li {
    padding: 0 1em;
    margin: 0;
    border-left: 1px solid #555555;
    height: 20px;
}

.boardInfo li:first-child{
    border: none;
}

.boardInfo li:last-child {
    margin-left: auto;
    border: none
}

.boardMembers .dot {
    position: relative;
    top: -8px
}

.mainBoard {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.cardListBox {
    background-color: #DFE3E6;
    border-radius: 3px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cardListBox ul {
    list-style-type: none;
    padding: 0 0.5em;
}

.cardListBox .cardListTitle {
    font-weight: bold;
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 14pt
}

.cardListBox header button {
    float: right;
}

.dialogBg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.59);
}

.dialog {
    color: #17394D;
    width: 700px;
}

.dialog h1 {
    font-size: 18pt;
    padding-left: 40px;
    position: relative;
    margin: 0;
}

.dialog h2 {
    font-size: 14pt;
    padding-left: 40px;
    position: relative;
}

.dialog h1 .icon, .dialog h2 .icon{
    position: absolute;
    left: 0;
    top: 5px;
}

.dialog {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.dialogBody{
    flex: 1
}

.dialogMenu {
    width: 150px;
}

.dialog h3 {
    font-weight: normal;
    margin: 0;
    font-size: 12pt;
}

.dialogMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.dialogMenu li {
    margin-bottom: 0.5em;
}

h1 .editable-text input {
    height: 30px;
    position: relative;
    left: -2px;
}

.editable-text input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #5e6b74;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    box-sizing: border-box;
}

.createListForm {
    position:absolute;
}

.taskCard {
    background-color: white;
    padding: 0.5em;
    border-radius: 5px;
    border-bottom: 1px solid #8f8f8f;
    cursor: pointer;

}

.taskCardContainer {
    padding-bottom: 0.5em;
}

.dragCardPlaceholder {
    padding: 0.5em;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 0.5em;
    background-color: #cfd3d6;
}

.cardListBox li:last-child .taskCardContainer {
    padding-bottom: 0;
}

.taskCard:hover {
    background-color: #ececec;
}